{% extends "base.html" %}




{% block content %}
<div class="container" style="margin-top: 100px;">
<!-- Default form register -->
<form class="text-center border border-light p-5" method="POST">
  <h1>Commentaires en attente de validation</h1>
              <div class="card card-comments mb-3 wow fadeIn">
{% for comment in comments %}
  <div class="card-body">
 <div class="media d-block d-md-flex mt-3">
                  <img class="d-flex mb-3 mx-auto " src="/{{comment.user.image}}" alt="Generic placeholder image">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="mt-0 font-weight-bold">{{comment.user.name}} {{comment.user.firstname}}
                    </h5>
                      {{comment.content}}
                  </div>
                </div>
                <a href='/admin/comment/approve/{{comment.id}}'>Approuver</a> | <a href='/admin/comment/delete/{{comment.id}}'>Supprimer</a> | <a href='/post/show/{{comment.post.id}}'>Lien vers le post</a>
              </div>
{% endfor %}
            </div>
              </form>
          </div>
{% endblock %}

