
{% extends "base.html" %}

 
{% block content %}


           <!--Main layout-->
  <main class="mt-5 pt-5" style="padding-left: 0 !important;">
    <div class="container">



      <hr class="my-5">

      <!--Section: Cards-->
      <section class="text-center">


        <h1>Les articles</h1>
              <hr class="my-5">


        <!--Grid row-->
        <div class="row mb-4 wow fadeIn post-ajax">

</div>



      </section>
      <!--Section: Cards-->

    </div>
  </main>
  <!--Main layout-->


    {% endblock %}
    {% block script %}
      {{parent()}}
  <script type="text/javascript" src="/Public/js/blog.js"></script>
<script>
  getPostAjax(1);
</script>
    {% endblock %}


