
{% extends "base.html" %}

 
{% block content %}

  <!--Main layout-->
  <main class="mt-5 pt-5" style="padding-left: 0 !important;">
    <div class="container">

      <!--Section: Post-->
      <section class="mt-4">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col">

            <!--Featured Image-->
            <div class="card mb-4 wow fadeIn">

              <img src="/{{post.image}}" class="img-fluid" alt="">

            </div>
            <!--/.Featured Image-->

            <!--Card-->
            <div class="card mb-4 wow fadeIn">

              <!--Card content-->
              <div class="card-body text-center">

                <p class="h5 my-4">{{post.title}}</p>

                <p class="h6 my-4">{{post.subtitle}}</p>

                <p class="h6 my-4">Par {{post.user.name}} {{post.user.firstname}}, le {{ post.created_date | date('d/m/y') }}</p>

              </div>

            </div>
            <!--/.Card-->

            <!--Card-->
            <div class="card mb-4 wow fadeIn">

              <!--Card content-->
              <div class="card-body">

                {{post.content | raw}}
              </div>

            </div>
            <!--/.Card-->

            <!--Comments-->
            <div class="card card-comments mb-3 wow fadeIn">
              <div class="card-header font-weight-bold">3 comments</div>
              <div class="card-body">

                <div class="media d-block d-md-flex mt-4">
                  <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg" alt="Generic placeholder image">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="mt-0 font-weight-bold">Miley Steward
                    </h5>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                  
                  </div>
                </div>
                <div class="media d-block d-md-flex mt-3">
                  <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg" alt="Generic placeholder image">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="mt-0 font-weight-bold">Caroline Horwitz
                    </h5>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti
                    quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                    similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga.
                  </div>
                </div>

              </div>
            </div>
            <!--/.Comments-->

            <!--Reply-->
            <div class="card mb-3 wow fadeIn">
              <div class="card-header font-weight-bold">Laisser un commentaire</div>
              <div class="card-body">

                <!-- Default form reply -->
                <form  method="POST">

                  <!-- Comment -->
                  <div class="form-group">
                    <label for="replyFormComment">Votre commentaire</label>
                    <textarea class="form-control" id="replyFormComment" rows="5"></textarea>
                  </div>

                  <!-- Name -->
                  <label for="replyFormName">Votre nom</label>
                  <input type="email" id="replyFormName" class="form-control">

                  <br>

                  <!-- Email -->
                  <label for="replyFormEmail">Votre e-mail</label>
                  <input type="email" id="replyFormEmail" class="form-control">


                  <div class="text-center mt-4">
                    <button class="btn btn-info btn-md" type="submit">Envoyer</button>
                  </div>
                </form>
                <!-- Default form reply -->



              </div>
            </div>
            <!--/.Reply-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Post-->

    </div>
  </main>
  <!--Main layout-->

    {% endblock %}
