
{% extends "base.html" %}

 
{% block content %}

  <!--Main layout-->
  <main class="mt-5 pt-5" style="padding-left: 0 !important;">
    <div class="container">

      <!--Section: Post-->
      <section class="mt-4">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col">

            <!--Featured Image-->
            <div class="card mb-4 wow fadeIn">

              <img src="/{{post.image}}" class="img-fluid" alt="">

            </div>
            <!--/.Featured Image-->

            <!--Card-->
            <div class="card mb-4 wow fadeIn">

              <!--Card content-->
              <div class="card-body text-center">

                <p class="h5 my-4">{{post.title}}</p>

                <p class="h6 my-4">{{post.subtitle}}</p>

                <p class="h6 my-4">Par {{post.user.name}} {{post.user.firstname}}, le {{ post.created_date | date('d/m/y') }}</p>

                <p class="h6 my-4">Dernière modification le {{ post.modified_date | date('d/m/y', 'Europe/Paris') }} à {{ post.modified_date | date('H:i:s', 'Europe/Paris') }}</p>


              </div>

            </div>
            <!--/.Card-->

            <!--Card-->
            <div class="card mb-4 wow fadeIn">

              <!--Card content-->
              <div class="card-body">

                {{post.content | raw}}
              </div>

            </div>
            <!--/.Card-->

            <!--Comments-->
            <div class="card card-comments mb-3 wow fadeIn">
              {% set compteur = 0 %}
              {% for comment in comments %}
                {% set compteur = compteur + 1 %}
              {% endfor %}

              <div class="card-header font-weight-bold">{{ compteur }} {% if compteur > 1 %} commentaires {% else %} commentaire {% endif %}</div>
              {% for comment in comments %}
  <div class="card-body">
 <div class="media d-block d-md-flex mt-3">
                  <img class="d-flex mb-3 mx-auto " src="/{{comment.user.image}}" alt="Generic placeholder image">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="mt-0 font-weight-bold">{{comment.user.name}} {{comment.user.firstname}}
                    </h5>
                      {{comment.content}}
                  </div>
                <p>{{comment.created_date | date('d/m/y', 'Europe/Paris')}} à {{ comment.created_date | date('H:i:s', 'Europe/Paris') }}</p>
                </div>
              </div>
{% endfor %}
            </div>
            <!--/.Comments-->

            <!--Reply-->
            <div class="card mb-3 wow fadeIn">
              <div class="card-header font-weight-bold">Laisser un commentaire</div>
              <div class="card-body">

                <!-- Default form reply -->
                <form  method="POST">

                  <!-- Comment -->
                  <div class="form-group">
                    <label for="replyFormComment">Votre commentaire</label>
                    <textarea class="form-control" name='content' id="replyFormComment" rows="5"></textarea>
                  </div>

                  <div class="text-center mt-4">
                    <button class="btn btn-info btn-md" type="submit">Envoyer</button>
                  </div>
                </form>
                <!-- Default form reply -->
              </div>
            </div>
            <!--/.Reply-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Post-->

    </div>
  </main>
  <!--Main layout-->

    {% endblock %}
